---
title: Home
layout: home
---


<p><B><font color=red>Update (5/10)</font></B>: <a href="{{
site.baseurl }}/awards.html">Paper awards</a> were announced!</p>

<img src="{{ site.baseurl }}/image/s_whova.png">

<p>We will use <a onclick="window.open(this.href); return false;"
  href="https://whova.com/">Whova app</a> for communicating during the
  conference.  Important announcements will be sent through this app
  (as well as through this website), and you can communicate with
  other attendees as well.  It is not mandatory, but we strongly
  recommend you to install the app on your smart phone, and be
  familiar with the app in advance.  The AISTATS page will open around
  a week before the conference, then we will invite all registered
  attendees.</p>
  
<p>This year we will experiment with conditionally accepted
papers. Authors will get a chance to revise their papers and resubmit,
after which the papers will be evaluated by the program committee.</p>

<h3>Colocated Events</h3>

<p><a onclick="window.open(this.href); return false;" href="http://iclr.cc">International Conference on Learning Representation (ICLR)</a>
  will be held right before the conference (May 7 - 9, 2015).</p>

<p><A onclick="window.open(this.href); return false;" href="http://www.igb.uci.edu/~pfbaldi/">Pierre Baldi</A> will give a keynote at the joint ICLR/AISTATS session.</p>

<p>AISTATS attendees are also invited to attend the ICLR poster session on May 9, from 10:30 - 13:30.</p>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}
